<div class="container">
  <div class="row">
    <div class="col-md-4">
      <hr/>
      <h3>Call this number</h3>
      <div class="well well-sm">
        <% if @number.nil? %>
          <%= render "provision_number" %>
        <% else %>
          <%= @number%>
        <% end %>
      </div>
      <h3>Send calls to this SIP address</h3>
      <div class="well well-sm">
      <% if @domain.nil? %>
        <%= render "provision_domain" %>
      <% else %>
        <%= @domain%>
      <% end %></div>
      <% if @domain %>
        <%= render @ip_acl_partial %>
        <%= render @acl_partial %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= render 'softphone' %>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>

<script type="text/javascript">

var ready;
ready = function()  {

  Twilio.Device.setup("<%= @token %>", {debug: true});

  /* Let us know when the client is ready. */
  Twilio.Device.ready(function (device) {
    $("#log").text("Client is ready ");
    $("#log").toggleClass("alert-info alert-success");
  });
 
  /* Report any errors on the screen */
  Twilio.Device.error(function (error) {
    $("#log").text("Error: " + error.message);
    $("#log").toggleClass("alert-info alert-success");
  });
 
  Twilio.Device.connect(function (conn) {
    $("#log").text("Call connected");
  });
  
  Twilio.Device.disconnect(function (conn) {
    $("#log").text("Call ended");
    $("#to").empty();
    $("#from").empty();
  });

  Twilio.Device.incoming(function (conn) {
    $("#log").text("Incoming call");
    $("#to").text("<%= @agent_name%>");
    $("#from").text(conn.parameters.From);

    $("#hangup-btn").text("Reject");
    $("#hangup-btn").attr("onclick","reject()");
  });

};

$(document).ready(ready);
$(document).on('page:load', ready);


  function hangup() {
    Twilio.Device.disconnectAll();
    $("#to").empty();
    $("#from").empty();
  }

  function accept() {
    Twilio.Device.activeConnection().accept();
    $("#log").text("Connection active");
    $("#hangup-btn").text("Hangup");
    $("#hangup-btn").attr("onclick","hangup()");
  }

    function reject() {
    Twilio.Device.activeConnection().reject();
    $("#log").text("Connection rejected");
    $("#hangup-btn").text("Hangup");
    $("#hangup-btn").attr("onclick","hangup()");
    $("#to").empty();
    $("#from").empty();
  }

  function mute() {
    if (Twilio.Device.activeConnection().isMuted() == false) {
      Twilio.Device.activeConnection().mute(true);
      $( "#mute-btn" ).addClass( "btn-danger" );
      }
    else { if (Twilio.Device.activeConnection().isMuted() == true)
      Twilio.Device.activeConnection().mute(false);
      $( "#mute-btn" ).removeClass( "btn-danger" );
      }
  }

</script>
