<footer class="footer">
  <div class="container">
    <p class="text-center footer-text">Made with ❤︎ by Twilio London. Source can be found <a href="https://github.com/akjordan/sip-to-webrtc">here</a>.</p>
  </div>
</footer>